.card-trainform {
  opacity: 1;
  transform: translateY(-90px);
  transition: all 0.5s;
  z-index: 50;
}
.card-tranform__parent:hover .card-trainform {
  transform: translateY(-170px);
  opacity: 1;
}
.card-tranform__parent:hover .card_images {
  transform: scale(1.2);
  transition: all 0.5s;
}
.carousel-image::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    0deg,
    rgba(8, 8, 8, 0.9) 0,
    rgba(8, 8, 8, 0.8) 10%,
    rgba(8, 8, 8, 0.7) 30%,
    rgba(8, 8, 8, 0.6) 60%,
    rgba(8, 8, 8, 0)
  );
  z-index: 1;
}
