@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Be Vietnam Pro', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  img {
    @apply max-w-none;
  }
  li {
    @apply w-full;
  }
  .display {
    @apply text-6xl font-semibold;
  }
  h1 {
    @apply font-semibold text-heading-4;
  }
  h2 {
    @apply font-semibold text-heading-5;
  }
  h3 {
    @apply font-semibold text-subtitle;
  }
  p {
    @apply font-normal text-body;
  }
}

@layer components {
  .modal-container {
    @apply fixed inset-x-0 bg-white rounded-lg p-6 z-50;
    /* Center fixed el */
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    @apply sm:w-[calc(100%-48px)] md:w-[calc(84%-48px)] lg:w-[calc(52%-48px)];
  }
  .signin-container {
    @apply fixed inset-x-0 bg-white rounded-3xl p-6 z-50;
    /* Center fixed el */
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    @apply sm:w-[calc(100%-48px)] md:w-[calc(84%-48px)] lg:w-[calc(30%-48px)];
  }
  .btn-search {
    @apply flex justify-center bg-[#E8E8E8] w-[70px] h-[53px] rounded-2xl text-white font-medium text-xs leading-tight shadow-md  hover:shadow-lg;
    @apply focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out items-center;
  }
  .navbar-header {
    @apply sticky h-[92px] transition-all left-0 right-0 top-0 bg-white justify-center;
    @apply flex flex-shrink-0 flex-col items-stretch max-w-[100%] min-h-0 min-w-0 align-baseline basis-auto;
  }
  .btn-secondary {
    @apply px-7 py-3 sm:px-4 bg-black text-white rounded-lg font-semibold;
  }
  .input-search {
    @apply relative flex-auto min-w-0 block w-full rounded-xl px-3 py-[13px] pl-[50px] text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-black focus:border-2 focus:outline-none;
  }
  .navbar-search_open {
    @apply flex justify-center items-center relative z-[90] w-full;
  }
  .hamburger-menu_open {
    @apply flex flex-col fixed items-center w-[20%] sm:w-[100%] right-[0px] top-0 h-[100vh] transition-all p-6 bg-white text-subtitle font-semibold z-0 shadow-shadowbox;
  }
  .hamburger-menu_lg {
    @apply flex-row gap-x-6 static items-center shadow-none py-0;
  }
  .hamburger-menu_open .hidden-icon {
    @apply hidden;
  }
  .hamburger-menu_md .hidden-icon {
    @apply block;
  }
  .profile-menu {
    @apply flex flex-col gap-y-6 p-4 sm:w-[60%] md:w-[40%] lg:w-[20%] absolute top-[92px] right-0 bg-white lg:items-center text-subtitle font-semibold shadow-shadowbox lg:shadow-none;
  }
  .btn-infomation_user {
    @apply flex flex-row gap-x-3 items-center;
  }
  .margin-top {
    @apply mt-[90px];
  }
  .gheDangDat {
    @apply bg-green-600;
  }
  .ghe {
    @apply border-2 w-[50px] h-[50px] lg:w-[60px] lg:h-[60px] lg:m-3 sm:m-1 text-xs rounded-lg font-semibold bg-[rgb(123,122,122)];
  }
  .btn-primary {
    @apply px-7 py-3 sm:px-4 bg-[#2A45CB] text-white hover:text-white hover:bg-[#1F3398] rounded-lg font-semibold transition-all;
  }
  .width {
    @apply w-[100%] mx-auto max-w-[1500px] p-6 mb-[96px] sm:mb-[64px];
  }
  .modal-container {
    @apply fixed inset-x-0 bg-white rounded-lg p-6 z-50;
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    @apply sm:w-[calc(100%-8px)] md:w-[calc(84%-48px)] lg:w-[calc(62%-48px)];
  }
  .trailer > div {
    @apply w-full h-[60vh] sm:h-[40vh] !important;
  }
  .portal-root {
    @apply fixed top-0 left-0 overflow-hidden block bg-[rgba(0,0,0,0.8)] z-[200] h-full w-full;
  }
  .modal-content {
    @apply flex flex-col z-[500];
    @apply max-h-[75vh] overflow-y-auto;
  }

  .modal__button-close {
    @apply absolute top-[8px] right-[8px];
    @apply h-auto rounded-lg items-start !important;
    @apply p-2;
  }
  .container-payment {
    @apply rounded-lg py-6 border-2 shadow-lg;
    @apply sm:w-[calc(100%-8px)] md:w-[calc(84%-48px)] lg:w-[calc(62%-48px)];
  }
  .btn-delete {
    @apply px-7 py-3 bg-[#FB2347] text-white hover:bg-[#D90429] rounded-lg font-semibold transition-all;
  }
  .seat-booking {
    @apply flex justify-center items-center font-semibold rounded-lg bg-green-500 w-[50px] h-[50px];
  }
  .sear-booked {
    @apply border-2 w-[50px] h-[50px] lg:w-[60px] lg:h-[60px] lg:m-3 sm:m-1 text-xs rounded-lg font-semibold bg-[rgb(123,122,122)];
  }
  /* .slick-list {
    @apply w-auto !important;
  } */
  .label-error {
    @apply px-2 py-1 text-[#FB7185] bg-[#FEDBE0] rounded-[4px];
  }
  .footer {
    @apply grid grid-cols-12 gap-4 width mb-0 items-stretch justify-between;
  }
  .footer-email {
    @apply flex flex-col gap-y-5 sm:col-span-12 md:col-span-6 lg:col-span-6;
  }
  .footer_title {
    @apply text-lg font-semibold;
  }
  .email-content {
    @apply flex items-center gap-x-8  relative w-full xl:w-[calc(100%-100px)];
  }
  .email-content_input {
    @apply relative flex-auto min-w-0 block w-full rounded-xl px-3 py-[13px] text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300;
    @apply transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-black focus:border-2 focus:outline-none;
  }
  .email-content_button {
    @apply absolute z-[50] top-[50%] translate-y-[-50%] right-2 bg-black py-2 px-5 rounded-lg;
  }
  .footer-info {
    @apply flex flex-col gap-y-5 sm:col-span-12 md:col-span-3 lg:col-span-3;
  }
  .footer_copyright {
    @apply gap-y-4 col-span-12 text-center text-lg font-semibold;
  }
  .card {
    @apply gap-y-5 h-[240px] sm:col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 overflow-hidden relative justify-end cursor-pointer capitalize rounded-md bg-red-500 object-cover text-white;
  }
  .card-content {
    @apply absolute p-2 gap-y-5 flex h-[80%] sm:h-[85%]  w-full top-[200px];
  }
  .card-info {
    @apply absolute w-[85%] left-0 bottom-[60px] p-2;
  }
  .card-action {
    @apply absolute bottom-0 w-full flex p-[10px] gap-x-3 left-0;
  }
  .card-action_info {
    @apply w-[100%]  px-2 py-3 text-xs text-black font-semibold bg-[#FFFFFF] rounded-xl;
  }
  .slider-movie {
    @apply pr-3 sm:pr-0;
  }
  .slider-movie:last-child {
    @apply sm:pl-0;
  }
  .footer-email,
  .footer-info {
    @apply mb-7;
  }
  .new {
    @apply relative w-full gap-y-5 h-auto sm:flex-col md:flex-col sm:col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-4 cursor-pointer rounded-xl text-white shadow-lg hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 border-2;
  }
  .new-image_content {
    @apply object-fill w-full h-60 lg:rounded-bl-xl lg:rounded-tl-xl md:rounded-tl-xl md:rounded-tr-xl sm:rounded-tl-xl sm:rounded-tr-xl;
  }
  .new-image {
    @apply w-full h-auto max-h-96 overflow-hidden;
  }
  .new-info {
    @apply p-4 leading-normal flex-wrap;
  }
  .new-model {
    @apply flex flex-col gap-5;
  }
  .new-model_content {
    @apply flex justify-center;
  }
  .new-model_content__image {
    @apply w-[60%] sm:w-full h-[450px] sm:h-[400px];
  }
  .payment {
    @apply flex flex-col items-center px-5 mt-16 sm:mt-12 mb-10;
  }
  .payment-content {
    @apply flex flex-col container-payment gap-8 px-5;
  }
  .payment-content_title {
    @apply font-semibold text-3xl sm:text-2xl text-center;
  }
  .payment-content_text {
    @apply font-bold text-3xl sm:text-lg text-center;
  }
  .detail {
    @apply flex flex-col gap-4;
  }
  .detail-container {
    @apply flex flex-row sm:flex-col gap-x-8;
  }
  .detail-container_image {
    @apply h-96 w-80 sm:w-full sm:mb-3 text-center rounded-lg;
  }
  .detail-content {
    @apply flex flex-col gap-4 items-start text-lg;
  }
  .detail-content_info {
    @apply flex flex-row gap-x-2 items-center justify-center;
  }
  .signup-container {
    @apply flex flex-col justify-center bg-white rounded-3xl p-6 z-[100];
    @apply sm:w-[calc(100%-48px)] md:w-[calc(84%-48px)] lg:w-[calc(52%-48px)];
  }
  .btn-disabled {
    @apply px-7 py-4 bg-[#E3E3E3]  text-white  rounded-lg font-semibold transition-all;
  }
  .label-warning {
    @apply px-2 py-1 text-orange-400 bg-orange-100 rounded-[4px];
  }
  .label-success {
    @apply px-2 py-1 text-[#34D399] bg-[#CCF4E5] rounded-[4px];
  }
  .label-error {
    @apply px-2 py-1 text-[#FB7185] bg-[#FEDBE0] rounded-[4px];
  }
  .about-introduce_text {
    @apply mb-6;
  }
  .about-introduce_text:last-child {
    @apply mb-0;
  }
  .about-introduce {
    @apply my-6;
  }
  .about-room_text {
    @apply mb-6;
  }
  .about-room_text:last-child {
    @apply lg:mb-0;
  }
  .about-room_text:first-child {
    @apply mt-6;
  }
  .contact-info {
    @apply rounded-md shadow-shadowbox_2 p-6 w-full;
  }
}
